<div cid="<%= dayModel.cid %>" class="day" date="<%= date.format('YYYY-MM-DD') %>">
    <span class="date"><%= date.format('D') %></span>
    <ul class="flags">
        <li><span flag="x" class="flagX<%= (dayModel && dayModel.attributes.flagX==1) ? ' checked' : ''%>">x</span></li>
        <li><span flag="z" class="flagZ<%= (dayModel && dayModel.attributes.flagZ==1) ? ' checked' : ''%>">z</span></li>
        <li><span flag="o" class="flagO<%= (dayModel && dayModel.attributes.flagO==1) ? ' checked' : ''%>">o</span></li>
        <li><span flag="ox" class="flagOX<%= (dayModel && dayModel.attributes.flagOX==1) ? ' checked' : ''%>">ox</span></li>
    </ul>
</div>