#page {
    padding-top: 60px;
}
#calendar_container{
    margin:0 0 20px;
}
#calendar_container .month-nav {
    position:relative;
}
#calendar_container h2{
    text-align: center;
}
#calendar_container .btn{
    position: absolute;
    top: 5px;
    width: 120px;
    right: 0px;
}
#calendar_container .month-nav .btn:nth-child(1){
    right:auto;
    left:0px;
}
.table-container {
    width:582px;
}
.calendar-table th,
.calendar-table td{
    border:1px solid #bbb;
}
.calendar-table td{
    background: #fdfdfd;
}
.calendar-table td .date{
    font-size:24px;
    line-height: 24px;
    display: block;
    text-align: center;
}
.calendar-table td.current-month{
    background: white;
}
.day {
    width:80px;
    height:80px;
    overflow: hidden;
}
.day .flags {
    margin:0;
    list-style: none;
    font-size:31px;
    font-weight: bold;
}
.day.active .flags{
    font-size:18px;
}
.day .flags .flagX{
    color:red;
}
.day .flags .flagZ{
    color:purple;
}
.day .flags .flagO{
    color:darkgreen;
}
.day .flags li {
    float:left;
    margin-left:10px;
}
.day.active .flags li {
    margin-left:3px;
}
.day .flags li > span{
    display:none;
    cursor: pointer;
    min-width:25px;
}
.day img{
    width:25px;
    height:25px;
}
.day.active img{
    width:20px;
    height:20px;
}
.day.active .flags li > span,
.day .flags li > span.checked{
    display:inline-block;
}
.day.active .flags li > span:before {
    opacity:0.6;
}
.day .flags li > span.checked:before{
    opacity:1;
}
.day.active .flags li > span:before {
    content:"";
    width:14px;
    height:14px;
    border:1px solid black;
    display:inline-block;
    margin-right: 1px;
    position: relative;
    top: 3px;
}
/* in bootstrap/yii.css
.day.active .flags li > span.checked:before {
    background:black url('../img/glyphicons-halflings-white.png') -288px 0 no-repeat;
}*/

label .required{
    display:none;
}